* {
    margin: 0;
    padding: 0px;
    background-color: white;
    color: black;
    max-width: fit-content;
}

.center {
  display: flex;
  float: left;
  height: 400px;
  padding: 40px;

}
  

h1 {font-size: 15px;
   font-family: "owners", sans-serif;
font-weight: 500;
font-style: normal;
padding: 15px 8px;
}

h2 {
font-family: "gira-sans", sans-serif;
font-weight: 100;
font-size: 30px;
font-style: normal;
padding: 10px 50px;
line-height: 50px;

}

p {
    font-family: "p22-typewriter", sans-serif;
font-weight: 400;
font-style: normal;
padding: 50px 50px;
font-size: 15px;
line-height: 22px;
}


.emphasized {
    font-size: 80px;
    font-weight: lighter;
    font-family: "Owners", sans-serif;
    line-height: 80px;
    padding: 10px 50px;
}


.emphasized:hover{
    color: darkblue
}


h1 .right {
    font-size: 15px;
   font-family: "owners", sans-serif;
font-weight: 500;
font-style: normal;
padding: 0px 8px;
text-align: right;
color:rgb(25, 19, 69);
}

h3 {
    font-size: 80px;
    font-weight: lighter;
    font-family: "Owners", sans-serif;
    line-height: 80px;
    padding: 10px 50px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.image {
    width: 600px;
    position: absolute;
    left: 100px;
}

.image-2 {
    width: 70%;
    display: block;
    
}

.content {
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.content:hover{
    opacity: 1;
}

.wrapper2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagess {
    width: 600px;
    position: absolute;
    right: 150px;
    bottom: 0px;
    top: 1500px;

}

.image-3 {
    width: 40%;
    display: block;
    
}

.contents {
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.contents:hover{
    opacity: 1;
}

.wrapper3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagessss {
    width: 600px;
    position: absolute;
    left: 850px;
    top: 1000px;

}

.image-4 {
    width: 40%;
    display: block;
    
}

.contentss {
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.contentss:hover{
    opacity: 1;
}

