* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    background: white;
    padding: 20px;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    padding-right: 60px;
   
    
}

.info {
    font-size: 100px;
    font-weight: lighter;
    font-family: "Owners", sans-serif;
  
}

.moreinfo {
    text-align: right;
    font-family: "Owners", sans-serif;
    font-size: 40px;
    font-style: italic
}

.textgroup {
    max-width: 1500px;
    padding: 10px 50px
}

.descp {
    font-family: "Owners", sans-serif;
    font-size: 50px; 
    line-height: 50px;
    padding-bottom: 20px;
    
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
}

.ticket {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.hover-image:hover {
    content: url(Weapons-Ticket.png);
}

.hover-image2:hover {
    content: url(Twinless-ticket.png)
}

.hover-image3:hover {
    content: url(Anemone-ticket.png)
}

.hover-image4:hover {
    content: url(Afterhunt-ticket.png)
}

.hover-image5:hover {
    content: url(Shelby-ticket.png)
}

.hover-image6:hover {
    content: url(Skins-ticket.png)
}
.card {
    display: flex;
    margin-bottom: 3px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}




