* {
    background-color: black;
    color: white;
}


.header {
    font-size: 80px;
    font-weight: lighter;
    font-family: "Owners", sans-serif;
  
}


.block {
    position: absolute;
    width: 20px;
    height: 20px;
    color: black;
}