* {
    margin: 0;
    padding: 0px;
    background-color: black;
    color: white;
    max-width: fit-content;
}

h1 {font-size: 15px;
   font-family: "owners", sans-serif;
font-weight: 500;
font-style: normal;
padding: 15px 8px;
}

.emphasized {
    font-size: 80px;
    font-weight: lighter;
    font-family: "Owners", sans-serif;
    line-height: 80px;
    margin: 10px 50px;
}

p {
    font-family: "p22-typewriter", sans-serif;
font-weight: 400;
font-style: normal;
margin-right: 700px;
margin-left: 50px;
font-size: 15px;
line-height: 22px;
}

.background {
    background-image: url(shelby-oaks.png);
    background-size: cover;
    background-position: center;
    height: 1000px;
    position: absolute
    
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: inline-block;
    justify-content: left;
    align-items: center;
}

.image {
    width: 300px;
    height: auto;
    position: relative;
    left: 300px;
    top: 300px;
}

.image-1 {
    width: 100%;
    display: block;
}

.overlaycontent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.red {
    color: red
}

.overlaycontent:hover{
    opacity: 1;
}


.img02 {
    width: 300px;
    position: relative;
    left: 1100px;
    top: 300px;
}

.image-2 {
    width: 100%;
    display: block;
}

.img03 {
    position: relative;
    width: 200px;
    left: 300px;
    top: 300px;
}


.image-3 {
    width: 100%;
    display: block;
}

.img04 {
   position: relative;
    width: 100px;
    left: 1000px;
    top: -200px;
}


.image-4 {
    width: 100%;
    display: block;
}
    

.img05 {
    position: relative;
    width: 400px;
    left: 1000px;
    top: 200px;
}

.image-5 {
    width: 100%;
    display: block;
}