* {
    margin: 0;
    padding: 0px;
    background-color: black;
    color: white;
    max-width: fit-content;
}

.backbutton {
    position: relative;
    left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 80%;
   
}

.buttonimage img {
position: relative;
    top: 40px;
    left: 15px;
    width: 100px;
    height: auto;
}

.buttonimage img:hover{
    content: url(shelby.png);
}


.back-btn {
  background: transparent;
  border: 0;
}

.back-btn:focus {
  outline: none;
}


.animated-text {
  opacity: 0; 
  animation: fadein 4s forwards; 
  padding-top: 20px;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}


h1 {font-size: 80px;
    font-weight: lighter;
    font-family: "Owners", sans-serif;
    line-height: 80px;
    padding-left: 30px;
}



p {
    font-size: 25px;
    font-family: "owners", sans-serif;
    font-weight: 500;
    font-style: normal;
margin-right: 700px;
margin-left: 30px;
margin-top: 30px;
line-height: 26px;
}

.background {
    background-image: url(shelby-oaks.png);
    background-size: cover;
    background-position: center;
    height: 1000px;
    position: absolute
    
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: inline-block;
    justify-content: left;
    align-items: center;
}

.image {
    width: 300px;
    height: auto;
    position: relative;
    left: 300px;
    top: 300px;
}

.image-1 {
    width: 100%;
    display: block;
}

.overlaycontent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.red {
    color: red
}

.overlaycontent:hover{
    opacity: 1;
}


.img02 {
    width: 300px;
    position: relative;
    left: 1100px;
    top: 300px;
}

.image-2 {
    width: 100%;
    display: block;
}

.img03 {
    position: relative;
    width: 200px;
    left: 300px;
    top: 300px;
}


.image-3 {
    width: 100%;
    display: block;
}

.img04 {
   position: relative;
    width: 100px;
    left: 1000px;
    top: -200px;
}


.image-4 {
    width: 100%;
    display: block;
}
    

.img05 {
    position: relative;
    width: 400px;
    left: 1000px;
    top: 200px;
}

.image-5 {
    width: 100%;
    display: block;
}