* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: #ff009d;

   
}

.backbutton {
    position: relative;
    left: 0px;
    top: -25px;
    width: 100px;
    height: 100px;
    border-radius: 80%;
   
}


.buttonimage img {
position: relative;
    top: 30px;
    left: 0px;
    width: 120px;
    height: auto;
}

.buttonimage img:hover{
    content: url(cigbw.png);
    object-fit: cover;
}

.back-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.back-btn img {
  display: block;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }

}

.animated-text {
  opacity: 0; 
  animation: fadein 4s forwards; 
  padding-top: 20px;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.grid-container {
    display: grid;
    display: flex;
    grid-template-columns: repeat(6, 1fr);
    gap: 2px;
    padding: 5px;
    position: relative;
    top: 400px;
    
}

.grid-item {
   
    padding: 2px;
    text-align: center;
    font-size: 1.2em;
    
}

.img1 {
    width: 400px;
    height: auto;

    

  animation: blink 1s infinite; 
    animation-delay: 4s
}

.img1:hover {
    animation-play-state: paused;

}

.img2 {
    width: 400px;
    height: auto;
    
  animation: blink 3s infinite; 
    animation-delay: 4s
}

.img2:hover {
    animation-play-state: paused;
    
}

.img3 {
    width: 400px;
    height: auto;
    
  animation: blink 2s infinite; 
    animation-delay: 4s
}

.img3:hover {
    animation-play-state: paused;
    
}

.img4 {
    width: 400px;
    height: auto;
    
  animation: blink 4s infinite; 
    animation-delay: 5s
}

.img4:hover {
    animation-play-state: paused;
    
}

.img5 {
    width: 400px;
    height: auto;
    
  animation: blink 2s infinite; 
    animation-delay: 4s
}

.img5:hover {
    animation-play-state: paused;
  
}

.img6 {
    width: 400px;
    height: auto;
    
  animation: blink 3s infinite; 
    animation-delay: 5s
}

.img6:hover {
    animation-play-state: paused;
    
}

.img7 {
    width: 400px;
    height: auto;
    
  animation: blink 1s infinite; 
    animation-delay: 4s
}

.img7:hover {
    animation-play-state: paused;
    
}

.img8 {
    width: 400px;
    height: auto;
    
  animation: blink 2s infinite; 
    animation-delay: 5s
}

.img8:hover {
    animation-play-state: paused;
    
}

.img10 {
    width: 400px;
    height: auto;
    
  animation: blink 4s infinite; 
  animation-delay: 4s

}

.img10:hover {
    animation-play-state: paused;
  
}

h1 {
    color:yellow;
    font-size: 40px;
    line-height: 39px;
    font-weight: normal;
    font-family: "Owners", sans-serif;
    
    padding-right: 50px;
    position: absolute;
    padding-left: 50px;

  
}