*{
    background-color: black;
    color: rgb(169, 0, 0);

}



video {
    display: block;
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;


}

h1{
    
    font-size: 15px;
    font-family: "owners", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 0%;
    padding: 3;
    
    
}

em {
    color: rgb(169, 0, 0);
}



p{
    font-family: "p22-typewriter", sans-serif;
font-weight: 400;
font-style: normal;
position: absolute;
left: 300px;
right: 300px;
font-size: 15px;
line-height: 22px;
padding-bottom: 30px;;


}

h2{font-size: 20px;
    font-family: "owners", sans-serif;
font-weight: 500;
font-style: normal;
padding-left: 2%;


}

video {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}


.item-1{
    display: block;
    
    position: absolute;
    width: 200px;
    height: 500px;
    margin-left: 30px;
   
   
}
.item-2{
    display: block;
    
    
    width: 200px;
    height: auto;
    float: right;
    margin-right: 30px;

   
   
   
}

img {
    display: block;
    width: 200px;
    height: auto
}