* {
    margin: 0;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    max-width: max-content;
}




h1 {font-size: 15px;
   font-family: "owners", sans-serif;
font-weight: 500;
font-style: normal;
padding: 15px 8px;
}

h2 {font-size: 80px;
    font-weight: lighter;
    font-family: "Owners", sans-serif;
    line-height: 80px;
    padding: 10px 50px;
}

h2:hover {
    color: orangered;
}



.center {
  display: flex;
  float: left;
  height: 400px;
  padding: 40px;

}


p {
 font-family: "p22-typewriter", sans-serif;
font-weight: 400;
font-style: normal;
padding: 80px 50px;
max-width: 1400px;
font-size: 15px;
line-height: 22px;
}



h3 {
    font-size: 80px;
    font-weight: lighter;
    font-family: "Owners", sans-serif;
    line-height: 80px;
    padding: 10px 50px;
}


.wrapper {
    width: 300%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.content-1 {
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.content-1:hover{
    opacity: 1;
}

.image-1 {
   position: absolute;
   width: 500px;
   height: auto;
   left: 60px;
   top: 1100px;
   

    
}

.images {
    width: 300px;
    display: block;
}

.wrapper2 {
     width: 500%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}


.image-2 {
    width: 600px;
    position: absolute;
    right: 15px;
    bottom: 0px;
    top: 1000px;

    
}

.imagess {
    width: 150px;
    display: block;
}

.content-2 {
    width: 100%;
    height: 200%;
    top:0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.content-2:hover{
    opacity: 1;
}

.wrapper3 {
     width: 500%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}


.image-3 {
    width: 600px;
    position: absolute;
    left: 600px;
    top: 1400px;
    
    
}

.imagesss {
    width: 300px;
    display: block;
}

.content-3 {
    width: 100%;
    height: 200%;
    top:0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0,6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
}

.content-3:hover{
    opacity: 1;
}

.collage {
    width: 200px;
    position: relative;
    left: 500px;
    bottom: 140px;
   
}

.collage2 {
    width: 300px;
    position: relative;
    left: 900px;
    top: 50px;
   
}